$font-normal-color:rgb(30, 228, 178);
$font-content-color:black;
body,html,#main{
    width: 100vw;
    min-width: 500px;
    height: 100vh;
    color:	$font-normal-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body,html,#main,a,p,div,ul,header,li{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
}
li{
    list-style: none;
}
.main{
    margin:0 auto;
    padding:50px 0;
    max-width: 1400px;
    height: calc(100% - 100px);
    display: flex;
    align-items: flex-start;
    .nav-box{
        width: 200px;
        flex-grow:0;
        flex-shrink:0;
    }
    .router{
        min-width:700px;
        padding-left: 20px;
        box-sizing: border-box;
        color:$font-content-color;
    }
}